*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  user-select: inherit;
}

body {
  overflow: hidden;
  margin: 0 auto;
  background-color: black;
  box-sizing: border-box;
  user-select: none;
}

canvas {
  image-rendering: crisp-edges;
}

.game_container {
  position: relative;
  background-color: #245324;
  min-height: 100vh;
  width: 100vw;
  background-image: url(/assets/images/classy-fabric_opt.png);
}

#canvas_container {
  top: 50px;
  left: 0;
  position: fixed;
  height: calc(100vh - 100px);
  width: 100%;
}

#ui_container {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header {
  position: fixed;
  display: flex;
  gap: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  font-size: 12px;
  padding: 8px 12px;
  align-items: center;
}

header .header-logo {
  font-size: 10px;
  color: white;
  font-weight: 700;
}

.btn {
  border-right-width: 3px;
  border-bottom-width: 3px;
  padding: 0.6em;
  font-size: 1.1em;
  font-weight: 800;
  line-height: 1;
  border-radius: 8px;
  box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transform: translateY(0px);
  transition: transform 0.1s ease-in-out;
}

.btn:active {
  transform: translateY(1px);
}

.btn.primary {
  background-color: #218838;
  border-color: #105a21;
  text-shadow: 1px 1px 0px #0d441a;
  color: white;
}

.btn.secondary {
  background-color: #f7bb0f;
  border-color: #8a5d19;
  text-shadow: 1px 1px 0px #ffe9aa;
  color: #5e4302;
}

.btn.primary:disabled,
.btn.secondary:disabled {
  background-color: #939393;
  border-color: #5c5d5c;
  text-shadow: 1px 1px 0px #404040;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.info-box {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #003000;
  padding: 5px 5px 0px 5px;
  margin-left: 5px;
  height: 50px;
}

.info-box-item {
  display: flex;
  gap: 10px;
}

.info-box-item.timer {
  font-size: 18px;
}

.timer-button {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1em;
  border: none;
  padding: 0px 2px;
  border-radius: 5px;
  min-width: 24px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

#button-start-timer.timer-button {
  background-color: #00a6ed;
}

#button-start-timer.timer-button:disabled {
  background-color: #939393;
}

.info-box-item.metrics {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.metric-box {
  text-align: center;
}

.metric-box-value {
  color: #f7be10;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000000;
}

.metric-box-label {
}
