*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  overflow: hidden;
  margin: 0 auto;
  background-color: black;
}

.game_container {
  background-color: #245324;
  min-height: 100vh;
  width: 100vw;
  background-image: url(/assets/images/classy-fabric_opt.png);
}
